<?xml version="1.0"?>

<config>
    <modules>
        <Mm04_Facebook>
            <version>0.1.0</version>
        </Mm04_Facebook>
    </modules>
    <global>
        <blocks>
            <facebook>
                <class>Mm04_Facebook_Block</class>
            </facebook>
        </blocks>
        <events>
            <customer_session_init>
                <observers>
                    <facebook_session_init_observer>
                        <class>facebook/observer</class>
                        <method>customerSessionInit</method>
                    </facebook_session_init_observer>
                </observers>
            </customer_session_init>
        </events>
        <helpers>
            <facebook>
                <class>Mm04_Facebook_Helper</class>
            </facebook>
        </helpers>
        <models>
            <customer>
                <rewrite>
                    <customer>Mm04_Facebook_Model_Customer_Customer</customer>
                </rewrite>
            </customer>
            <customer_entity>
                <rewrite>
                    <customer>Mm04_Facebook_Model_Customer_Entity_Customer</customer>
                </rewrite>
            </customer_entity>
            <facebook>
                <class>Mm04_Facebook_Model</class>
            </facebook>
        </models>
        <resources>
            <facebook_setup>
                <setup>
                    <module>Mm04_Facebook</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </facebook_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <Mm04_Facebook before="Mage_Customer">Mm04_Facebook_Customer</Mm04_Facebook>
                    </modules>
                </args>
            </customer>
        </routers>
        <layout>
          <updates>
              <facebook module="Mm04_Facebook">
                  <file>facebook.xml</file>
              </facebook>
          </updates>
        </layout>
    </frontend>
    <default>
        <facebook>
            <graph_api>
                <js_api_url></js_api_url>
                <application_id></application_id>
                <application_secret></application_secret>
            </graph_api>
        </facebook>
    </default>
</config>
