<?xml version="1.0"?>
<config>
    <sections>
        <facebook translate="label" module="facebook">
            <class>separator-top</class>
            <label>Facebook</label>
            <tab>customer</tab>
            <frontend_type>text</frontend_type>
            <sort_order>400</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <graph_api translate="label">
                    <label>Graph API</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <js_api_url translate="label">
                            <label>JavaScript API Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </js_api_url>
                        <application_id translate="label">
                            <label>Application Id</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </application_id>
                        <application_secret translate="label">
                            <label>Application Secret</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </application_secret>
                    </fields>
                </graph_api>
            </groups>
        </facebook>
    </sections>
</config>